@import "./Util.scss";
body{
    background-color: black;
}

.main-container{
    width: 100%; 
    color: #ffffff;
}

.main-festival{
    font-family: BlackHanSans; 
    font-size: 75px;
    width: 648px;
    text-align: center;
    margin: auto;
    color: #ffffff;
}