$fontSize: 100px;

body {
  background: black;
  height: 100vh;
  overflow: hidden;
}

#title {
  display: inline-block;
  max-width: 925px;
  opacity: 0.7;
  margin: 0;
  -webkit-text-stroke: 1px #ffffff;
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0);
  animation: squiggly-anim 0.34s linear infinite;
}

@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}
