@import '../utill/ScrollableSelector.scss';

.scrollable-selector {
    @extend %scrollable-selector;
    height: 500px;
    color: rgba(255, 255, 255, 0.5);
 
    a:visited{
        text-decoration: none;
        color : rgba(255, 255, 255, 0.5);
    }

    li {
        width: 632px;
        margin-top: 10px;
        font-size: 75px;
        text-align: center;
    }
    a:link{
        text-decoration: none;
        color : rgba(255, 255, 255, 0.5);
        &.selected {
            color: #fff;
        }
    }
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
    }
}

