@import './Utill.scss';

.festival-component {
    padding: 222px 96px 0 96px;
    background: url('../../image/Img_1\(Main\).png') no-repeat;
    min-width: 1440px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;

    .go-main {
        display: inline-block;
        position: absolute;
        color: white;
        font-size: 65px;
        font-weight: 100;
        opacity: 0.5;
        top: 71px;
        right: 70px;
        transform: scale(1.25,1);
        cursor: pointer;
    }
}