@import './Utill.scss';

.festival-component {
    padding: 222px 96px 0 96px;
    // background: url('../../image/sub_main_1.png') no-repeat;
    background-position: 0 -4px;
    min-width: 1440px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;

    &.fid-1{
        background: url('../../image/sub_main_1.png') no-repeat;
    }

    &.fid-2{
        background: url('../../image/sub_main_2.png') no-repeat;
    }

    &.fid-3{
        background: url('../../image/sub_main_3.png') no-repeat;
    }
    &::-webkit-scrollbar
    {
        width: 0;
    }
    

    .go-main {
        display: inline-block;
        position: absolute;
        font-weight: 100;
        top: -191px;
        right: -40px;
        transform: scale(1.25,1);
        a {
            text-decoration: blink;
            color: white;
            opacity: 0.5;
            font-size: 65px;
            cursor: pointer;
            transform: opacity 2s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .festival-body {
        display: flex;
        margin-top: 200px;
        color: white;
    }
}