nav {
    position: sticky;
    color: #999999;
    width: 300px;
    height: fit-content;
    top: 0;

    a {
        display: inline-block;
        width: 100px;
        height: 41px;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.46;
        letter-spacing: normal;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 10px solid rgba(255, 255, 255, 0.2);
        &.selected {
            color: #ffffff;
            animation: content 1s ease-in;
            animation-iteration-count: 1;
            border-bottom: 10px solid #ffffff;
        }
    }
    .singet-list {
        margin-top: 56px;
    }
    .singer-ul {
        display: none;
        padding-left: 0;
        margin-top: 56px; 
        color: #999999;
        list-style: none;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
 
        li {
            font-size: 22px;
            line-height: 36px;
            cursor: pointer;
            &.selected {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }
}

@keyframes content {
    0% {
        border-bottom: 10px solid rgba(255, 255, 255, 0.2);
        border-width: 50%
    }
    50%{
        border-bottom: 10px solid rgba(255, 255, 255, 0.5);
    }
    100% {
        border-bottom: 10px solid #ffffff;
        border-width: 100%
    }
  }

  @keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}