@import '../utill/ScrollableSelector.scss';

.scrollable-selector {
   @extend %scrollable-selector;
   height: 300px;
   width: 270px;
   margin-left: 598px;
   cursor: pointer;

   li {
     width: 188px;
     top: 110px;
     font-size: 56px;

     &.selected {
        font-size: 80px;
     }
   }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
    }
}
